<div class="p-5">
  <div class="card">
    <div class="card-header">
      <h1 class="text-center p-4">Create a Client</h1>
      <h4 class="text-center p-2"><i>please fill in this form to create a client</i></h4>
    </div>
<div class="card-body container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form action="" name="clientregister">

        <div class="row p-2">
          <div class="col-lg-2"></div>
          <div class="col-lg-5"> <label for=""><b>Name:</b></label></div>
          <div class="col-lg-3"><input type="text" name="clientname" id="" [(ngModel)]="cname" placeholder="Enter Name"></div>
          <div class="col-lg-2"></div>
        </div>
        <div class="row p-2">
          <div class="col-lg-2"></div>
          <div class="col-lg-5"><label for=""><b>Email:</b></label></div>
          <div class="col-lg-3"><input type="email" name="clientemail" id="" [(ngModel)]="cemail" placeholder="Enter Email"></div>
          <div class="col-lg-2"></div>
        </div>
        <div class="row p-2">
          <div class="col-lg-2"></div>
          <div class="col-lg-5"><label for=""><b>Address:</b></label></div>
          <div class="col-lg-3"><input type="text" name="clientaddress" [(ngModel)]="caddress" placeholder="Enter Address"></div>
          <div class="col-lg-2"></div>
        </div>
        <div class="row p-2">
          <div class="col-lg-2"></div>
          <div class="col-lg-5"><label for="password"><b>Password:</b></label></div>
          <div class="col-lg-3"><input type="password" name="password" [(ngModel)]="cpassword" placeholder="Enter Password"></div>
          <div class="col-lg-2"></div>
        </div>
        <div class="row p-2">
          <div class="col-lg-2"></div>
          <div class="col-lg-5"><label for=""><b>Repeat Password:</b></label></div>
          <div class="col-lg-3"><input type="password" name="clientrepeatpass" id="" [(ngModel)]="cpassword" placeholder="Repeat Password"></div>
          <div class="col-lg-2"></div>
        </div>


        </form>

    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<div class="card-footer p-4">
  <div class="text-center">
    <button class="btn-color" (click)="addclient()">Register</button>
  </div>
  <div style="color: green;">
    {{message}}
  </div>
</div>
</div>
</div>
