
<div class="container">
<div class="row card">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <h1 class="text-center card-header"><i> Welcome To Client Portfolio</i></h1>
    <h1 class="text-center"><b>Login</b></h1>
    <div style="padding-top: 5%;">
    <div class="row card-body">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
    <h4 class="text-center p-top">User Name: </h4>
    </div>
    <div class="col-lg-3">
    <input type="text" name="" id="" placeholder="Enter user name here">
    </div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
    <h4 class="text-center p-top">password: </h4>
    </div>
    <div class="col-lg-3">
    <input type="password" name="" id="" placeholder="Enter password here ">
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 text-center p-4"> <button>Login</button></div>
    <div class="col-lg-4">
    </div>

  </div>

 </div>

  <div class="col-lg-2"></div>
</div>
</div>

