<div class="p-5">
  <div class="card">
    <div class="card-header">
      <h1 class="text-center p-5">Create a Meeting Schedule</h1>
    </div>
<div class="card-body container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form action="" name="mettingform">

        <div class="row p-2">
          <div class="col-lg-2"></div>
          <div class="col-lg-5"><label for=""><b>Metting Topic</b></label></div>
          <div class="col-lg-3"><input type="text" name="mettingtopic" id="" placeholder="Enter Metting Topic"></div>
          <div class="col-lg-2"></div>
        </div>
        <div class="row p-2">
          <div class="col-lg-2"></div>
          <div class="col-lg-5"><label for=""><b>Number of People</b></label></div>
          <div class="col-lg-3"><input type="text" name="noofpeople" id="" placeholder="Enter Number of people"></div>
          <div class="col-lg-2"></div>
        </div>
        <div class="row p-2">
          <div class="col-lg-2"></div>
          <div class="col-lg-5"><label for=""><b>Start Time</b></label></div>
          <div class="col-lg-3"><input type="datetime-local" name="starttime" id=""></div>
          <div class="col-lg-2"></div>
        </div>
        </form>

    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<div class="card-footer p-4">
  <div class="text-center">
    <input class="btn-color" type="button" value="Schedule a metting" name="" id="">
  </div>
</div>
</div>
</div>
